In [2]:
import datetime 
import time
from ib_insync import *
import pandas as pd
util.startLoop()  # uncomment this line when in a notebook
ib = IB()
ib.connect('127.0.0.1', 7497, clientId=17)

Error 1100, reqId -1: Connectivity between IBKR and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IBKR and Trader Workstation has been lost.
Error 1102, reqId -1: Connectivity between IBKR and Trader Workstation has been restored - data maintained. The following farms are connected: . The following farms are not connected: uscrypto; usfarm.nj; hfarm; usfuture; jfarm; cashfarm; usfarm; euhmds; hkhmds; fundfarm; ushmds; secdefhk.
Error 1100, reqId -1: Connectivity between IBKR and Trader Workstation has been lost.
Error 1102, reqId -1: Connectivity between IBKR and Trader Workstation has been restored - data maintained. The following farms are connected: . The following farms are not connected: uscrypto; usfarm.nj; hfarm; usfuture; jfarm; cashfarm; usfarm; euhmds; hkhmds; fundfarm; ushmds; secdefhk.
Error 1100, reqId -1: Connectivity between IBKR and Trader Workstation has been lost.
Error 1102, reqId -1: Connectivity between IBKR and Trader Workstation has been restored - data maintained. All data farms are connected: uscrypto; usfarm.nj; hfarm; usfuture; jfarm; cashfarm; usfarm; euhmds; hkhmds; fundfarm; ushmds; secdefhk.
Error 1100, reqId -1: Connectivity between IBKR and Trader Workstation has been lost.
Error 1102, reqId -1: Connectivity between IBKR and Trader Workstation has been restored - data maintained. All data farms are connected: uscrypto; usfarm.nj; hfarm; usfuture; jfarm; cashfarm; usfarm; euhmds; hkhmds; fundfarm; ushmds; secdefhk.
Error 1100, reqId -1: Connectivity between IBKR and Trader Workstation has been lost.
Error 1102, reqId -1: Connectivity between IBKR and Trader Workstation has been restored - data maintained. All data farms are connected: uscrypto; usfarm.nj; hfarm; usfuture; jfarm; cashfarm; usfarm; euhmds; hkhmds; fundfarm; ushmds; secdefhk.
Peer closed connection.
Future exception was never retrieved
future: <Future finished exception=ConnectionError('Socket disconnect')>
ConnectionError: Socket disconnect
Future exception was never retrieved
future: <Future finished exception=ConnectionError('Socket disconnect')>
ConnectionError: Socket disconnect
Future exception was never retrieved
future: <Future finished exception=ConnectionError('Socket disconnect')>
ConnectionError: Socket disconnect

# position

In [4]:
pos=ib.reqPositions()
if len(pos)==0:
    pos_df=pd.DataFrame([])
else:
    pos_df=util.df(pos)
    pos_df['name']=[cont.symbol for cont in pos_df['contract']]
    pos_df=pos_df[pos_df['position']>0]
print(pos_df)

     account                                           contract  position  \
0  DU6327991  Stock(conId=78743661, symbol='KOTAKBANK', exch...       2.0
1  DU6327991  Stock(conId=175596029, symbol='ICICIBANK', exc...      13.0
2  DU6327991  Stock(conId=56986798, symbol='ADANIENT', excha...     100.0
3  DU6327991  Stock(conId=56985747, symbol='IOC', exchange='...      13.0
4  DU6327991  Stock(conId=132214022, symbol='ASIANPAIN', exc...      12.0
5  DU6327991  Stock(conId=44652040, symbol='ITC', exchange='...      13.0

       avgCost       name
0  1820.152850  KOTAKBANK
1  1123.074831  ICICIBANK
2  3032.340998   ADANIENT
3   170.594808        IOC
4  3005.180675  ASIANPAIN
5   447.609238        ITC

In [7]:
df=pd.DataFrame(pos)
df['name']=[i.symbol for i in df['contract']]
df

,account,contract,position,avgCost,name
0,DU6327991,"Stock(conId=78743661, symbol='KOTAKBANK', exch...",2.0,1820.152850,KOTAKBANK
1,DU6327991,"Stock(conId=175596029, symbol='ICICIBANK', exc...",13.0,1123.074831,ICICIBANK
2,DU6327991,"Stock(conId=56986798, symbol='ADANIENT', excha...",100.0,3032.340998,ADANIENT
3,DU6327991,"Stock(conId=56985747, symbol='IOC', exchange='...",13.0,170.594808,IOC
4,DU6327991,"Stock(conId=132214022, symbol='ASIANPAIN', exc...",12.0,3005.180675,ASIANPAIN
5,DU6327991,"Stock(conId=44652040, symbol='ITC', exchange='...",13.0,447.609238,ITC

# open orders

In [13]:
ord=ib.reqAllOpenOrders()
if len(ord)==0:
    ord_df=pd.DataFrame([])
else:
    ord_df=util.df(ord)
    ord_df['name']=[cont.symbol for cont in ord_df['contract']]
ord_df

,contract,order,orderStatus,fills,log,advancedError,name
0,"Stock(conId=44652017, symbol='INFY', right='?'...","Order(permId=1023337606, action='BUY', totalQu...","OrderStatus(orderId=0, status='Submitted', fil...",[],"[TradeLogEntry(time=datetime.datetime(2024, 6,...",,INFY

# current account balance

In [14]:
capital=int(float([v for v in ib.accountValues() if v.tag == 'AvailableFunds' ][0].value))
print(capital)

9621054